* {
	font-family: sans-serif;
}

#site-header {
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100px;
    padding: 20px 20px 0px 20px;
}

#site-header {
	width="24" height="79"
}

#biketitle {
	text-align: center;
	font-size: 70px;
}

.site_link {
	padding-top: 20px;
	display: inline;
	padding: 0px 10px 0px 10px;
}

a {
	color: 0 0 0 0;
}

h2 {
	font-size: 60px;
	text-align: center;
	padding: 100px;
}

.paraheader {
	margin: 20px 0 0 0;
	border-radius: 12px;
	padding: 20px;
}

article {
	padding: 20px;
	margin: 0 auto;
	max-width: 600px;
}

#paragraph1 { 
}

#paragraph2 {

}

.socialmedia {
	color: red;
	font-variant: small-caps;
}

#paragraph3 {

}

input.style {
	border: 0;
	padding: 10px;
	font-size: 18px;
}

input[type="submit"] {
	background: red;
	color: white;
	font-family: sans-serif;
}
