@media (max-width: 500px) {
	#site-header {
		font-size: 36px;
		padding: 5px;
	}
}

#site-header {
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100px;
    padding: 20px 20px 0px 20px;
    width="243" height="79"
}

body {
	font-family: sans-serif;
}

.title {
	text-align: center;
	font-size: 35px;
}

a {
	color: 0 0 0 0;
}

.site_menu {
	padding-top: 20px;
	display: inline;
	padding: 0px 10px 0px 10px;
}

#paraheader {
	margin: 20px 0 0 0;
	border-radius: 12px;
	padding: 20px;
}

article {
	padding: 20px;
	margin: 0 auto;
	max-width: 600px;
}

.paragraph1 { 
}

.paragraph2 {

}

.paragraph3 {

}

input.style {
	border: 0;
	padding: 10px;
	font-size: 18px;
}

input[type="submit"] {
	background: red;
	color: white;
	font-family: sans-serif;
}
