.container {
	font-family: Arial, sans-serif;
}

#site_header {
    width: 100%;
    background: rgba(0,0,0,0.2);
    height: 100px;
    border-radius: 25px;
}

.first_image {
	box-shadow: 10px 10px 5px #888888;
}

.first_image img {
	width: 100%;
}

.title {
	font-size: 75px;
	color: #111;
	font-family: 'Helvetica Neue', sans-serif;
	text-align: center;
	font-weight: bold;

}

#site_menu {
	padding: 10px 10px 10px 10px;
	letter-spacing: 1px;
}

.site_link {
	display: inline;
	padding: 0px 10px 0px 10px;
}

a {
	color: black;
	text-decoration: bold;
}

h2 {
	font-size: 60px;
	text-align: center;
	padding: 30px;
}

.para_header {
	margin: 20px 0 0 0;
	border-radius: 12px;
	padding: 20px;
}

article {
	padding: 20px;
	margin: 0 auto;
	max-width: 600px;
}

#paragraph1 { 
}

#paragraph2 {

}

.socialmedia {
	color: red;
	font-variant: small-caps;
}

#paragraph3 {

}

.style {
	align-items: center;
}

input.style {
	border: 0;
	padding: 10px;
	font-size: 18px;
}

input[type="submit"] {
	background: red;
	color: white;
	font-family: sans-serif;
}

.address {
	padding: 10px;
	text-align: left;
	background: rgb(128, 128, 128);
	line-height: 120%;
}

.images {
	height: 200px;
	margin: 20px;
}

td {
	text-align: center;
}

.bear {
	text-align: center;
}

.bear img {
	width: 350px;
}

#social-buttons {
	text-align: center;
}

#social-buttons button {
	margin: 20px;
	color: white;
}
.btn-twitter {
	background-color: #00acee;
	border-color: #009ad5;
}
.btn-facebook {
	background-color: #4868ac;
	border-color: #314776;
}
.btn-pinterest {
	background-color: #b62f26;
	border-color: #b62f26;
}



